body{ width: 100%;}

.tudo, article, header, main, footer{
width: 99%;
margin-bottom: 0.5%;
clear: both;
}
header, footer{
  height: 100px;
  line-height: 100px;
  background: #38003C;
  color: #FFF;
  font-family: Calibri;
  font-size: 30px;
  text-align: center;
}
main{
  color: #FFF;
  font-family: Calibri;
  font-size: 18px;
  height: auto;
  margin-bottom: 315px;
}
.principal{
  margin: 0;
  width: 80%;
  height: 300px;
  background: #E90052;
  float: left;
}
.ancoras{
  width: 19%;
  height: 300px;
  background:#BF2E6C;
  float: right;
}
.ancoras, .principal{text-align: center; padding-top: 110px; box-sizing: border-box;}