<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/fluido.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <article class="tudo">
      <header>
        <h1>Header - 980px</h1>
      </header>
      <main>
        <article class="principal">
          <h3>
            Article - 800px
          </h3>
        </article>
        <aside class="ancoras">
        <h3>
          Aside - 170px
        </h3>
        </aside>
      </main>
      <footer>
        <h3>Footer - 980px</h3>
      </footer>
    </article>
</body>
</html>