<!doctype html>
<html lang="pt-br">
  <head>
   <meta charset="UTF-7">
   <meta name="viewport" content="width=device-width,initial-scale=1">
		<title>Escape Adventure - RESPONSIVO</title>
		<link rel="stylesheet"  href="../css/responsivo.css" />
	</head>
	<body>
		<main class="conteudo">
			<header>
				<h1>Escape Adventure</h1>
			</header>
			<section class="principal">
				<h3>Notícias</h3>
			     <p>
				  Lorem ipsum dolor sit amet...
				</p>
				<p>
				  Lorem ipsum dolor sit amet...
				</p>
			</section>
			<aside>
				<h3>Novidades...</h3>
				<p>
				  Lorem ipsum dolor sit amet...
				</p>
			</aside>
			<footer>
				<p>
				  Lorem ipsum dolor sit amet...
				</p>
			</footer>
		</main>
	</body>
</html>