@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

body{
    background-image: url('https://brancopapeldeparede.fbitsstatic.net/img/p/painel-ceu-fundo-azul-71873/243346-1.jpg?w=817&h=1108&v=no-change');
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: right 350px;
    background-size: cover;
}

h1{
    color: #F2C063;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    text-transform: capitalize;
    text-align: center;
}
h2{
    color:#6593A6;
    font-weight: 700;
    text-transform: capitalize;
    text-align: left;
}
p{
    color: #58595B;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    text-transform: lowercase;
    text-decoration: underline;
    line-height: 30px;
    letter-spacing: 2px;
    word-spacing: 5px;
    text-align: justify;
}