table{
    margin: 10px auto;
    width: 1000px;
    border-collapse: collapse;
    font-family: calibri, tahoma, verdana;
    font-size: 18px;
    text-align: center;
}

caption {
    margin-bottom: 5px;
    color: #E90052;
    font-size: 22px;
    font-weight: 900;
}

th { 
    background: #38003C;
    font-size: 20px;
    color: #FFF;
}

td, th {
    width: 20%;
    height: 50px;
    border: 1px solid #000;
}

tfoot {
    background: #38003C;
    color: #FFF;
}

tbody tr:hover {
    cursor: pointer;
    background: #E90052;
    color: #FFF;
}